<div class="main-apropos">
    <h1>A propos de Au Petit Village</h1>

    <p class="welcome">Bienvenue sur AuPetitVillage.com, votre source incontournable pour tout ce qui concerne
        les figurines d'Astérix et Obélix. Notre passion pour l'univers créé par René Goscinny et Albert Uderzo a
        conduit à la création de ce site dédié aux collectionneurs et aux fans de ces deux héros gaulois bien-aimés.</p>

    <h3>Notre Mission</h3>
    <p class="mission">Notre mission est de vous fournir la meilleure sélection de figurines Astérix et Obélix
        disponibles sur le marché. Que vous soyez un collectionneur chevronné à la recherche d'éditions rares ou un fan
        occasionnel qui souhaite ajouter une touche gauloise à sa décoration, nous avons de quoi satisfaire tous les
        goûts. Nous sommes passionnés par la qualité, l'authenticité et la diversité de nos produits.</p>

    <h3>Pourquoi nous choisir ?</h3>
    <div class="choix">
        <ul>
            <li><strong>Expertise :</strong> Notre équipe est composée de passionnés d'Astérix et Obélix. Nous
                connaissons
                les figurines, les bandes dessinées et les films sur le bout des doigts, ce qui nous permet de vous
                offrir
                des produits de grande qualité.</li>
            <li><strong>Sélection minutieuse :</strong> Nous passons du temps à rechercher et à sélectionner les
                figurines
                les plus intéressantes et les plus rares pour enrichir votre collection.</li>
            <li><strong>Service client :</strong> Votre satisfaction est notre priorité. Notre équipe de service client
                est
                là pour répondre à toutes vos questions et vous assister dans votre expérience d'achat.</li>
            <li><strong>Livraison rapide :</strong> Nous expédions rapidement les commandes, car nous comprenons à quel
                point il est excitant de recevoir de nouvelles figurines.</li>
            <li><strong>Communauté :</strong> Rejoignez notre communauté de fans d'Astérix et Obélix. Suivez-nous sur
                les
                réseaux sociaux et participez à des discussions animées sur nos forums.</li>
        </ul>
    </div>
    <h3>Contactez-nous</h3>
    <p class="mission">Nous aimerions avoir de vos nouvelles. Si vous avez des questions, des commentaires ou des
        suggestions, n'hésitez pas à nous contacter. <br>

    </p>
    <a routera="/contact"><button class="page-contact">Contact</button></a><br><br>
    <p class="remerciement">

        Merci de visiter Au Petit Village et de partager notre passion pour ces irréductibles Gaulois. Nous
        espérons que vous trouverez ici les figurines de vos rêves et que vous apprécierez votre expérience sur notre
        site. <br><br>

        À la vôtre, <br><br>

        L'équipe de Au Petit Village</p>

</div>