<div class="main-contact">
    <h1>Contactez-nous !</h1>

    <form method="post" class="contact_form">
        <div class="id">
            <div class="first-name">
                <label for="first-name_box" class="first-name_label" >Prénom :</label>
                <input type="text" class="first-name_box" name="firstName" placeholder="Votre prénom" v-model="firstName" required>
            </div>
            <div class="last-name">
                <label for="last-name_box" id="last-name_label">Nom :</label>
                <input type="text" class="last-name_box" name="lastName" placeholder="Votre nom" v-model="lastName" required>
            </div>
        </div>
        <div class="email">
            <label for="email_box" class="email_label">Adresse e-mail :</label>
            <input type="email" class="email_box" name="email" placeholder="Votre email" key="email-input" v-model="email" required>
        </div>
        <div class="object">
            <label for="object_box" class="object_label"> Objet :</label>
            <input type="text" class="object_box" name="object" placeholder="Le sujet de votre message" v-model="object" required>
        </div>
        <div class="comments_block">
            <label class="comments_label" for="comments">Commentaire : </label>
            <span class="comments-max">Max. 500 caractères</span>
            <textarea class="comments" name="comments" placeholder="Votre message" rows="4" maxlength="500" v-model="comments"
                required></textarea>
        </div>
        <p  class="alerte">
            Votre message est parti ! 
        </p>
        <div class="submit_block">
            <button type="submit" class="submit">
                Envoyer
            </button>
        </div>
    </form>
</div>
