.main-fiche-produit {
    line-height: 50px;
}

h1 {
    padding: 30px;
    font-family: "Bubbleboddy neue", sans-serif;
}

h2 {
    padding: 30px;
    font-family: "Bubbleboddy neue", sans-serif;
}

h3 {
    padding: 30px;
    font-family: "Bubbleboddy neue", sans-serif;
}