.main-fiche-produit {
    line-height: 50px;
}

h1 {
    padding: 70px;
    padding-bottom: 0px;
    font-size: 50px;
    font-family: "Bubbleboddy neue", sans-serif;
}

h2 {
    padding: 10px;
    font-size: 45px;
    font-family: "Bubbleboddy neue", sans-serif;
}

h3 {
    font-size: 30px;
}

strong {
    text-decoration: underline;
}

.image-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image {
    width: 500px;
    height: 650px;
    border-radius: 50px;
}

.title-price {
    text-align: end;
}

.price {
    font-size: 35px;
}

.produit {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 40px;
    padding: 60px;
}

.btn {
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: #FDD90B;
    border-radius: 30px;
    cursor: pointer;
    margin: 40px 0;
}

.details-description {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;*/
    gap: 120px;
    padding: 30px 70px;
    padding-left: 200px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    padding-right: 150px;
}