<div class="main-app">
  <nav>
    <a routerLink="/"><img class="logo" src={{logo}} alt="Chapeau d'astérix avec au dessus le nom de l'entreprise"></a>
    <div class="lien">
      <a class="router" routerLink="/">Accueil</a>
      <a class="router" routerLink="/contact">Contact</a>
      <a class="router" routerLink="/apropos">A propos</a>
    </div>
    <div class="logo">
      <img class="compte" src={{compte}} alt="icone d'astérix">
      <img class="panier" src={{panier}} alt="icone d'un panier">
    </div>
  </nav>

  <router-outlet></router-outlet>

  <br>
  <br>

  <div class="footer">
    <div class="infos">
      <h4>Au Petit Village</h4>
      <p class="adresse-postale">40 rue Laure Diebold <br />
        69009 Lyon, France <br />
        Téléphone : 06 20 30 40 50
      </p>
      <div class="social-networks">
        <a class="lien-social-networks" href="https://github.com/Emmatremlet">
          <img src={{Instagram}} alt="icône Instagram" class="instagram" />
        </a>
        <a class="lien-social-networks" href="https://twitter.com/emmatremlet">
          <img src={{Linkedin}} alt="Icône Linkedin" class="linkedin" />
        </a>
        <a class="lien-social-networks" href="https://www.aedin.com/in/emma-tremlet/">
          <img src={{Facebook}} alt="Icône facebook" class="facebook" />
        </a>
      </div>
    </div>
    <div class="link">
      <h4>Liens utiles</h4>
      <a class="lien-page" routerLink="/">Accueil</a><br />
      <a class="lien-page" routerLink="/apropos">À propos</a><br />
      <a class="lien-page" routerLink="/contact">Me contacter</a><br />
      <a class="lien-page" routerLink="/mentionslegales">Mentions légales</a><br />
    </div>
    <div class="categories">
      <h4>Catégories figurines</h4>
      <div *ngFor="let product of products">
        <a class="lien-categories" routerLink="/ficheproduit/{{product.id}}">{{ product.name }}</a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <a class="lien-copyright" routerLink="/">© Designed by Emma Tremlet</a>
  </div>
</div>