@font-face {
    font-family: "Bubbleboddy neue";
    src: url("../assets/Fonts/bubbleboddy_neue/bubbleboddyneue-regular-trial.ttf");
}

@font-face {
    font-family: "Comfortaa";
    src: url("../assets/Fonts/Comfortaa/static/Comfortaa-Medium.ttf");
}

.main-app {
    font-family: "Comfortaa", sans-serif;
    text-decoration: none !important;
    color: #151217;
}

h1 {
    padding: 30px;
    text-decoration: none;
    font-family: "Bubbleboddy neue", sans-serif;
}

h2 {
    padding: 30px;
    text-decoration: none;
    font-family: "Bubbleboddy neue", sans-serif;
}

h3 {
    padding: 30px;
    text-decoration: none;
    font-family: "Bubbleboddy neue", sans-serif;
}

h4 {
    padding: 0;
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: "Bubbleboddy neue", sans-serif;
}


.navbar {
    background-color: #ffd90b !important; 
    padding: 5px 60px;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
}

.logo {
    width: 80px;
}

.logo:hover {
    opacity: 0.5;
    cursor: pointer;
}

.nav-link {
    padding: 30px !important;
    color: #151217;
    text-decoration: none;
    font-size: 20px;
}

/* .collapse{
    padding-left: 400px; 
} */

.router:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.5;
}

.logo {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    width: 100px;
}

.panier {
    width: 40px;
    padding: 0 40px;
}

.compte {
    width: 40px;
    padding: 0;
}

.compte:hover {
    opacity: 0.5;
    cursor: pointer;
}

.panier:hover {
    opacity: 0.5;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    opacity: 0.5;
}


.footer {
    background-color: #151217;
    color: white;
    padding: 10px 90px;
}

.footer img {
    width: 30px;
    margin: 10px;
    opacity: 1;
}

.footer img:hover {
    opacity: 0.5;
}

.infos {
    text-align: left;
    line-height: 30px;
    margin: 0;
    padding-bottom: 20px;
}

.social-networks {
    padding: 0;
    margin: 0;
}

.lien-categories {
    color: white;
    text-decoration: none;

}

.lien-page {
    color: white;
    text-decoration: none;

}

.link {
    margin-left: 30px;
    padding-left: 0;
    color: white;
    text-align: left;
    text-decoration: none;
    line-height: 30px;
    padding-bottom: 20px;
}


.categories {
    text-align: left;
    text-decoration: none;
    color: white;
    line-height: 30px;
    padding-bottom: 20px;
}

.copyright {
    background-color: white;
    color: white;
    padding: 20px;
    border:solid;
    border-color:#151217;
    border-width: 2px;
}

.lien-copyright {
    margin: 40px;
    color: #151217;
    text-decoration: none;
}

.adresse-postale {
    text-align: left;
}