@font-face {
    font-family: "Bubbleboddy neue";
    src: url("../assets/Fonts/bubbleboddy_neue/bubbleboddyneue-regular-trial.ttf");
}

@font-face {
    font-family: "Comfortaa";
    src: url("../assets/Fonts/Comfortaa/static/Comfortaa-Medium.ttf");
}

.main-app {
    font-family: "Comfortaa", sans-serif;
    text-decoration: none !important;
    color: #151217;
}

h1 {
    padding: 30px;
    text-decoration: none;
    font-family: "Bubbleboddy neue", sans-serif;
}

h2 {
    padding: 30px;
    text-decoration: none;
    font-family: "Bubbleboddy neue", sans-serif;
}

h3 {
    padding: 30px;
    text-decoration: none;
    font-family: "Bubbleboddy neue", sans-serif;
}

h4 {
    text-decoration: none;
    font-family: "Bubbleboddy neue", sans-serif;
}


nav {
    background-color: #ffd90b;
    padding: 5px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 80px;

}

a {
    padding: 0 30px;
    color: #151217;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.logo {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    width: 100px;
}

.panier {
    width: 40px;
    padding: 0 40px;
}

.compte {
    width: 40px;
    padding: 0;
}

.compte:hover {
    opacity: 0.5;
    cursor: pointer;
}

.panier:hover {
    opacity: 0.5;
    cursor: pointer;
}

p {
    width: 110px;
}


.footer {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    width: 30px;
    margin: 10px;
    opacity: 1;
}

.footer img:hover {
    opacity: 0.5;
}

.infos {
    text-align: left;
}

.social-networks {
    padding: 0;
    margin: 0;
}

.link {
    color: black;
    text-align: left;
    text-decoration: none;
}


.categories {
    text-align: left;
    text-decoration: none;
    color: black;
}

.copyright {
    background-color: #1e1E1E;
    color: white;
    padding: 20px;
}

.copyright p {
    text-align: center;
    color: white;
    text-decoration: none;
}

.adresse-postale {
    text-align: left;
    width: 500px;
}