<div class="main-product">
    <h1>Astérix Le Gaulois</h1>

    <p><strong>Description : </strong> Figurine en résine de haute qualité représentant le célèbre héros gaulois,
        Astérix. Il est vétu de sa tenue traditionnelle, coiffée de son casque ailé, et tient son éternelle potion
        agique dans sa main. Cette figurine est un hommage parfait au personnage d'Astérix créé par René Goscinny et
        Albert Uderzo.</p>

    <p><strong>Matériau : </strong>Résine</p>
    <p><strong>Hauteur : </strong>15 cm</p>
    <p><strong>Prix : </strong>24€99</p>
    <p><strong>Disponibilité : </strong>En stock</p>
</div>