<div class="main-home">

    <h1>Au Petit Village</h1>
    <div class="home-description row">
        <img class="image-description col-sm" src={{AsterixObelix}}
            alt="casque d'astérix avec le nom de l'entreprise au dessus">
        <div class="description col-sm">
            <h2 class="notre-entreprise col-sm-10">Notre entreprise</h2>
            <p class="description-entreprise">Au Petit Village est une entreprise spécialisée dans la vente de figurines
                d'Astérix et Obélix, deux des personnages emblématiques de la bande dessinée française créée par René
                Goscinny et Albert Uderzo.
                <br />
                <br />
                Notre entreprise est dédiée à la célébration de l'univers passionnant des aventures de ces Gaulois
                intrépides.
            </p>
        </div>
    </div>

    <hr class="barre">

    <h2 class="titre-catalogue"> Notre catalogue </h2>


    <div class="tri-recherche row mx-auto">
        <div class=" col-md-6 d-flex justify-content-center">
            <div class="div-recherche col-md-6">
                <input type="text" class="recherche col-md-11 col-sm-11" placeholder="Rechercher par nom"
                    (input)="searchProducts($event)">
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="tri col-md-6" for="sortProducts">
                <select style="background-color: #FDD90B; color: #DA001E " class="tri-produits"
                    (change)="sortProducts($event)">
                    <option value="">Choisissez une option</option>
                    <option value="asc">Tri croissant</option>
                    <option value="desc">Tri décroissant</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="catalogue row blog justify-content-center">
    <div class="card figurine" style="width: 25rem;" *ngFor="let product of sortedProducts">
        <img src={{product.image}} class="card-img-top image-produit col-lg-3 col-md-4 col-6"
            alt="figurine du monde d'Astérix et d'Obélix">
        <div class="card-body">
            <h5 class="card-title title-asterix">{{product.name}}</h5>
            <p class="card-text prix">{{product.price}}€</p>
            <a class="btn btn-danger div-voir" routerLink="/ficheproduit/{{product.id}}"> Voir plus </a>
        </div>
    </div>
</div>