.main-home{
    line-height: 20px;
}

.home-description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1{
    padding:30px;
    font-family: "Bubbleboddy neue", sans-serif;
}

h2{
    padding:30px;
    font-family: "Bubbleboddy neue", sans-serif;
}

h3{
    padding:30px;
    font-family: "Bubbleboddy neue", sans-serif;
}

.image-favicon{
    width: 200px;
}