.main-home {
    line-height: 20px;
    padding: 50px;
}

h1 {
    padding: 30px;
    font-size: 50px;
    font-family: "Bubbleboddy neue", sans-serif;
}

h2 {
    padding-bottom: 20px;
    font-size: 35px;
    font-family: "Bubbleboddy neue", sans-serif;
}

h3 {
    font-family: "Bubbleboddy neue", sans-serif;
    color: #151217;
}

.image-description {
    width: 550px;
    padding: 30px;
    border-radius: 200px;
}

.notre-entreprise {
    padding-left: 40px;
}

.description-entreprise {
    line-height: 30px;
    padding-left: 40px;
}

.barre {
    box-shadow: none;
    height: 2px;
    background-color: #DA001E;
    border: none;
    width: 600px;
    margin: 70px auto;
}

.titre-catalogue {
    text-align: center;
    font-size: 35px;
    margin: 40px 0;
}

select {
    width: 230px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

/* .tri-recherche {
    width: 100vw;
    padding-left: 40px;
} */


.recherche {
    background-color: #f3d840a2;
    margin-bottom: 30px;
    padding: 5px;
    width: 230px;
    height: 25px;
    border-radius: 10px;
    border: solid;
    border-color: #DA001E;
    border-width: 1px;
    font-size: 14px;
}

.loupe {
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

.recherche::placeholder {
    color: #DA001E;
}

.catalogue {
    cursor: default;
    margin-top: 70px;
}

.liste a {
    text-decoration: none;
}

.figurine {
    cursor: pointer;
    margin: 70px;
    cursor: default !important;
    background-color: #fce3c9;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    border: solid;
    border-color: #FDD90B;
    border-radius: 10px;
}

.image-produit {
    width: 100%;
}

.figurine img {
    height: 400px;
    padding: 10px;
}


.figurine:hover {
    box-shadow: 7px 7px 10px 1px #da001d41;
    cursor: pointer;
}


.prix {
    margin: 20px 0;
    color: #151217;
}