<div class="main-home">

    <h1>Au Petit Village</h1>
    <div class="home-description">
        <img class="image-description" src={{AsterixObelix}}
            alt="casque d'astérix avec le nom de l'entreprise au dessus">
        <div class="description">
            <h2 class="notre-entreprise">Notre entreprise</h2>
            <p class="description-entreprise">Au Petit Village est une entreprise spécialisée dans la vente de figurines
                d'Astérix et Obélix, deux des
                personnages emblématiques de la bande dessinée française créée par René Goscinny et Albert Uderzo. Notre
                entreprise est dédiée à la célébration de l'univers passionnant des aventures de ces Gaulois intrépides.
            </p>
        </div>
    </div>

    <hr class="barre">

    <h2 class="titre-catalogue"> Notre catalogue </h2>

    <div class="tri-recherche">
        <div class="div-recherche">
            <input type="text" class="recherche" placeholder="Rechercher par nom" (input)="searchProducts($event)">
            <img class="loupe" src={{Loupe}} alt="icone de loupe">
        </div>

        <div class="tri" for="sortProducts">
            <select style="background-color: #FDD90B; color: #DA001E " class="tri-produits"
                (change)="sortProducts($event)">
                <option value="">Choisissez une option</option>
                <option value="asc">Tri croissant</option>
                <option value="desc">Tri décroissant</option>
            </select>
        </div>
    </div>
    <div class="catalogue">
        <div class="liste" *ngFor="let product of sortedProducts">
                <div class="figurine">
                    <img src={{product.image}} alt="figurine du monde d'Astérix et d'Obélix" class="image-produit">
                    <h3 class="title-asterix">{{product.name}}</h3>
                    <p class="prix">{{product.price}}€</p>
                    <a routerLink="/ficheproduit/{{product.id}}" class="div-voir">
                        <button class="voir">
                            Voir plus
                        </button>
                    </a>
                </div>
        </div>
    </div>
</div>