<div class="main-home">

    <h1>Au Petit Village</h1>
    <div class="home-description">
        <img class="image-favicon" src={{logo}} alt="casque d'astérix avec le nom de l'entreprise au dessus">
        <div class="description">
            <h2 class="notre-entreprise">Notre entreprise</h2>
            <p>Au Petit Village est une entreprise spécialisée dans la vente de figurines d'Astérix et Obélix, deux des
                personnages emblématiques de la bande dessinée française créée par René Goscinny et Albert Uderzo. Notre
                entreprise est dédiée à la célébration de l'univers passionnant des aventures de ces Gaulois intrépides.
            </p>
        </div>
    </div>

</div>